<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.skyui.ibrary.web">

    <uses-permission android:name="cn.skyui.aidl.permission.SERVICE_PERMISSION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />


        <service
            android:name=".service.WebViewBridgeService"
            android:exported="true"
            android:permission="cn.skyui.aidl.permission.SERVICE_PERMISSION">
            <intent-filter>
                <action android:name="cn.skyui.aidl.IAppInterface" />
            </intent-filter>
        </service>
    </application>

</manifest>